$primary: #374a58;
$secondary: #fcd1c1;
$light: #cdcbd8;
p {
  font-family: "Roboto";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand";
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
