@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
$primary: #374a58;
$secondary: #fcd1c1;
$light: #cdcbd8;
p {
  font-family: "Roboto";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand";
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
